<div class="guidance-content" ng-init="ctrl.guidance.getTotalSteps()">
    <div id="step-1" index="1" class="step show">
        <h1>Publishing an Experience</h1>
        <img ng-src="/resource/{{$root.currentProject.fileName}}/src/phone/resources/Uploaded/gallery_thumbnail_drone.png" />
        <h2>Getting Started</h2>
        <p>This easy step-by-step tutorial will show you how to publish and view an Experience.</p>
        <p>Watch for these hints to help you complete the steps:</p>
        <img src="/resource/{{$root.currentProject.fileName}}/src/phone/guidance/images/Illustration_1hint.svg" class="step-image" />
        <p>Click <span class="iconSmall iconNext" /> below to get started!</p>
    </div>
    <div id="step-2" index="2" class="step" tooltip="Click here to publish" location="#publish-experience-button" tooltip-side="bottom">
        <h1>Publishing an Experience</h1>
        <img src="/resource/{{$root.currentProject.fileName}}/src/phone/guidance/images/Illustration_2publish.svg" class="step-image" />
        <h2>Publish the Experience</h2>
        <p>Click <b>Publish</b> in the ThingWorx Studio toolbar to publish the Experience to your ThingWorx Experience Service.</p>
        <p>Click <span class="iconSmall iconNext" /> once the progress indicator next to <b>Publish</b> disappears.</p>
    </div>
    <div id="step-3" index="3" class="step">
        <h1>Publishing an Experience</h1>
        <img src="/resource/{{$root.currentProject.fileName}}/src/phone/guidance/images/Illustration_3view.svg" class="step-image" />
        <h2>View the Experience</h2>
        <p>Open ThingWorx View on your mobile device.</p>
        <p>If you don't have ThingWorx View yet, visit the App Store or Google Play Store from your mobile device to download it.</p>
        <p ng-if="ctrl.metadataJsonDefinition.experiences && !ctrl.metadataJsonDefinition.experiences[0].vumark">
            You forgot something! Click <a href="#" ng-click="$root.builderSettings.autoConfigureDismissed = false">here</a> to configure Studio and retrieve your ThingMark (recommended). Or, you can manually enter the required project and Experience settings.
        </p>
        <img src="/resource/{{$root.currentProject.fileName}}/src/phone/guidance/images/Illustration_0thingmark.svg" class="step-image svg-img" style="margin-top: -15px" ng-if="ctrl.metadataJsonDefinition.experiences && ctrl.metadataJsonDefinition.experiences[0].vumark && !ctrl.getThingmark(ctrl.metadataJsonDefinition.experiences[0].vumark)" />
        <p ng-if="ctrl.metadataJsonDefinition.experiences && ctrl.metadataJsonDefinition.experiences[0].vumark && !ctrl.getThingmark(ctrl.metadataJsonDefinition.experiences[0].vumark)">
            Print and scan <span class="emphasize">ThingMark {{ctrl.metadataJsonDefinition.experiences[0].vumark}}</span>.
        </p>
        <div ng-if="ctrl.thingmarks.length > 0 && ctrl.getThingmark(ctrl.metadataJsonDefinition.experiences[0].vumark)" style="text-align: center">
            <div class="thingmark-container" style="padding-bottom: 10px; margin-top: -15px">
                <img ng-src="{{ctrl.getThingmark(ctrl.metadataJsonDefinition.experiences[0].vumark).src}}" class="thingmark step-image svg-img"/>
                <div class="emphasize">
                    {{ctrl.guidance.getThingmarkTitle(ctrl.metadataJsonDefinition.experiences[0].vumark)}}
                </div>
            </div>
            <p class="print-thingmarks">
                <a href="" ng-click="ctrl.guidance.printThingmark('#step-3 .thingmark-container')" class="icon iconPrint">{{'Print_Thingmarks' | i18next}}</a>
            </p>
            <p style="text-align: left">Scan the ThingMark above, or scan the printed version.</p>
        </div>
    </div>
    <div id="step-4" index="4" class="step">
        <h1>Publishing an Experience</h1>
        <img src="/resource/{{$root.currentProject.fileName}}/src/phone/guidance/images/Illustration_4congrats.svg" class="step-image" />
        <h2>Nice Work!</h2>
        <p>You’ve published an Experience!</p>
        <p>Check out the next sample project to learn how to add your own data to an Experience.</p>
        <p><a href="/design/StudioSample3DImport">Next Sample Project: Import 3D Data</a></p>
        <p>Check out more tutorials in the <a href="https://studio.thingworx.com" target="_blank">ThingWorx Developer Zone</a></p>
    </div>
</div>
